name: fittrack
description: "Fit-Track - A personalized workout app for gym enthusiasts"
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  uuid: ^4.5.2
  path_provider: ^2.1.2
  shared_preferences: ^2.5.4
  sqflite: ^2.4.1
  sqflite_common_ffi: ^2.3.4
  sqflite_common_ffi_web: ^0.4.5
  path: ^1.9.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
